<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <h1>{{weather}}</h1>
    <img src="./img/JeffVacca-Profile.JPG" alt="Jeff Vacca Profile Pic">
    
</body>

</html>